@inject NavigationManager navMan;
<h3>UnableToSaveData</h3>
<h1>Fehler: Verleihvorgang abgebrochen - Hochladen der notwendigen Daten in die Datenbank nicht möglich. Bitte laden Sie die Seite neu und versuchen Sie es erneut.</h1>
<button id="reloadPage" @onclick="@reloadPage">Seite neu laden</button>
